body {
    background-color: #EAE7DC;
}
        
/* Navigation Bar */
div.nav {
    height: 100%;
    width: 166px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #D8C3A5;
    overflow-x: hidden;
}
div.nav img {
    padding-top: 10px;
    padding-left: 10px;
    width: 140px;
}
ul.nav {
    padding-left: 15px;
    list-style-type: none;
}
ul.nav li {
    margin: 24px 0;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
ul.nav li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #666564;
}
ul.nav li a:hover {
    color: #000000;
}
/* Fixed Header Components */
#FixedHeader {
    text-align: center;
}
#headLogo {
    width: 160px;
}
.pageTitle {
    font-size: 40px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    text-transform: uppercase;
    color: #666564;
}
/* ~Responsive~ Overlay */
div.overlay {
    text-align: center;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}
ul.overlay {
    list-style-type: none;
}
ul.overlay li {
    margin: 24px 0;
    font-size: 15px;
    font-family: 'Quicksand', sans-serif;
}
ul.overlay li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #EAE7DC;
}
ul.overlay li a:hover {
    color: #666564;
}
/* Hamburger Menu */
div.icon {
    float: right;
    color: #000000;
    visibility: visible;
}
/* Media queries control which nav bar to display */
@media screen and (max-width: 550px) {
    .nav {
        visibility: hidden;
    }
    #menuBars {
        visibility: visible;
    }
}
@media screen and (min-width: 550px) {
    .nav {
        visibility: visible;
    }
    div.icon {
        visibility: hidden;
    }
    div.overlay {
        visibility: hidden;               
    }
    #headLogo {
        display: none;
    }
    .pageTitle {
        padding-left: 165px;
        font-size: 40px;
        font-family: 'Quicksand', sans-serif;
        text-align: center;
        text-transform: uppercase;
        color: #666564;
    }
}

